<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deals</title>
    <!-- Include the Tailwind CSS stylesheet -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="flex flex-col h-screen bg-gray-100">
    {{ template "header" . }}
    <main class="flex-grow flex-shrink-0 basis-full container mx-auto py-5">
      <div id="toast" class="fixed"></div>
      {{ template "general-info" . }}
      <span></span>
      {{ template "inventory" . }}
      <span></span>
      {{ if eq .User.Role "stock" }}
      <section class="mb-10">
        <h2 class="text-2xl font-semibold mb-4">Deals</h2>
        <p class="block mb-2">Total open deals: {{ len .User.Deals }}</p>
        <ul class="flex flex-col gap-2">
          {{ range .User.Deals }}
          <li
            class="w-full p-2 hover:bg-gray-200 duration-150 cursor-pointer w-full"
          >
            <a href="/deals/{{ .ID }}" class="flex justify-between gap-2">
              <p class="flex-grow-0 flex-shrink-0 w-36 truncate text-base">
                Security {{ .Security.Name }}
              </p>
              <p class="flex-grow-0 flex-shrink-0 truncate w-36 text-base">
                {{ if .Sell }} Sell price: {{ .Price }}$ {{ else }} Buy price {{
                .Price }}$ {{ end }}
              </p>
              <p class="flex-grow-0 flex-shrink-0 truncate w-28 text-base">
                Amount: {{ .Amount }}
              </p>
            </a>
          </li>
          {{ end }}
        </ul>
      </section>
      {{ end }}
      <section class="mb-10">
        <h2 class="text-2xl font-semibold mb-4">Recent transactions</h2>
        <p class="block mb-2">Total transactions: {{ len .Transactions }}</p>
        <ul class="flex flex-col gap-2">
          {{ range .Transactions }}
          <li
            class="w-full p-2 hover:bg-gray-200 duration-150 cursor-pointer w-full"
          >
            <p class="flex-grow-0 flex-shrink-0 w-36 truncate text-base">
              Transaction ID {{ .ID }}
            </p>
            <p class="flex-grow-0 flex-shrink-0 w-36 truncate text-base">
              Security {{ .Subject.Security.Name }}
            </p>
            <p class="flex-grow-0 flex-shrink-0 truncate w-36 text-base">
              Price: {{ .Subject.Price }}$
            </p>
            <p class="flex-grow-0 flex-shrink-0 truncate w-28 text-base">
              Amount: {{ .Amount }}
            </p>
          </li>
          {{ end }}
        </ul>
      </section>
    </main>
    {{ template "footer" }}
    <script id="money" async type="text/javascript">
      const closeWithdrawModal = () => {
        const withdrawMoneyDialog = document.getElementById(
          "withdraw-money-dialog"
        );
        withdrawMoneyDialog.close();
      };

      const closeAddModal = () => {
        const addMoneyDialog = document.getElementById("add-money-dialog");
        addMoneyDialog.close();
      };

      const openWithdrawModal = () => {
        const withdrawMoneyDialog = document.getElementById(
          "withdraw-money-dialog"
        );
        withdrawMoneyDialog.showModal();
      };

      const openAddModal = () => {
        const addMoneyDialog = document.getElementById("add-money-dialog");
        addMoneyDialog.showModal();
      };
    </script>
    <script id="inventory" async type="text/javascript">
      const closeWithdrawInventoryModal = () => {
        const closeDialog = document.getElementById(
          "withdraw-inventory-dialog"
        );
        closeDialog.close();
      };

      const openWithdrawInventoryModal = () => {
        const closeDialog = document.getElementById(
          "withdraw-inventory-dialog"
        );
        closeDialog.showModal();
      };

      const closeAddInventoryModal = () => {
        const addDialog = document.getElementById("add-inventory-dialog");
        addDialog.close();
      };

      const openAddInventoryModal = () => {
        const addDialog = document.getElementById("add-inventory-dialog");
        addDialog.showModal();
      };
    </script>
  </body>
</html>
