{{ define "sign-in-form" }}
<form hx-post="/v1/auth/sign-in" hx-swap="outerHTML" hx-trigger="submit">
  <div class="mb-4">
    <label for="email" class="block text-gray-700 text-sm font-bold mb-2"
      >Email Address</label
    >
    <input
      type="email"
      id="email"
      name="email"
      class="w-full p-2 border border-gray-300 rounded"
    />
  </div>

  <div class="mb-6">
    <label for="password" class="block text-gray-700 text-sm font-bold mb-2"
      >Password</label
    >
    <input
      type="password"
      id="password"
      name="password"
      class="w-full p-2 border border-gray-300 rounded"
    />
  </div>

  <button
    type="submit"
    class="w-full bg-green-500 text-white p-2 rounded hover:bg-blue-600"
  >
    Sign In
  </button>
  {{ if .Error }}
  <span>{{ .Error }}</span>
  {{ end }}
</form>
{{ end }}
