<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deals</title>
    <!-- Include the Tailwind CSS stylesheet -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="flex flex-col h-screen bg-gray-100">
    {{ template "header" . }}
    <main class="flex-grow flex-shrink-0 basis-full container mx-auto py-5">
      <div id="toast" class="fixed"></div>
      <section class="flex justify-between mb-6 items-center w-full">
        <h2 class="text-2xl font-semibold">Active deals:</h2>
        {{ if eq .Role "stock" }}
        <button
          id="open-dialog"
          class="bg-green-500 text-white py-2 px-4 rounded hover:bg-blue-600"
        >
          Create +
        </button>
        <dialog id="create-dialog" class="p-6">
          <form
            hx-post="/v1/deals"
            hx-target="#toast"
            hx-trigger="submit"
            hx-swap="outerHTML"
          >
            <label
              for="securityID"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Choose Security</label
            >
            <select
              required
              id="securityID"
              name="securityID"
              class="w-full p-2 border border-gray-300 rounded mb-4"
            >
              {{ range .Securities }}
              <option value="{{ .ID }}">{{ .Name }}</option>
              {{ end }}
            </select>
            <select
              required
              id="type"
              name="type"
              class="w-full p-2 border border-gray-300 rounded mb-4"
            >
              <option value="sell">Sell</option>
              <option value="buy">Buy</option>
            </select>
            <label
              for="price"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Price</label
            >
            <input
              required
              min="1"
              type="number"
              id="price"
              name="price"
              class="w-full mb-2 p-2 border border-gray-300 rounded"
            />
            <label
              for="amount"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Amount</label
            >
            <input
              required
              min="1"
              type="number"
              id="amount"
              name="amount"
              class="w-full p-2 border border-gray-300 rounded"
            />
            <div class="flex justify-between mt-4">
              <button
                formmethod="dialog"
                type="reset"
                class="close-dialog bg-red-500 text-white py-2 px-4 rounded hover:bg-blue-600"
              >
                Cancel
              </button>
              <button
                type="submit"
                class="close-dialog bg-green-500 text-white py-2 px-4 rounded hover:bg-blue-600"
              >
                Create
              </button>
            </div>
          </form>
        </dialog>
        {{ end }}
      </section>
      <section>
        <div
          hx-get="/v1/deals"
          hx-swap="innerHTML"
          hx-trigger="get-deals-event from:body"
        >
          {{ template "deal-list" . }}
        </div>
      </section>
    </main>
    {{ template "footer" }}
    <script async>
      const dialog = document.getElementById("create-dialog");
      const openDialogBtn = document.getElementById("open-dialog");
      const closeDialogBtns = document.querySelectorAll(".close-dialog");

      const openDialog = () => {
        console.log(dialog);
        dialog.showModal();
      };

      const closeDialog = () => {
        dialog.close();
      };

      openDialogBtn.addEventListener("click", openDialog);
      closeDialogBtns.forEach((btn) =>
        btn.addEventListener("click", closeDialog)
      );
    </script>
  </body>
</html>
